  
html { scroll-behavior: smooth; scroll-snap-align: start;} 
body { margin: 0; font-size: 1vw;
    
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;}





/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* Bemutatkozás*/
.Window1
{
    
    flex-grow: 0.25;
    max-height: 55vh;
    padding: 0;
    border: lightgray 0.25em solid;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

#bemutatkozas{
    background-color: white;
    padding: 0.6em;
    max-height: fit-content;
    overflow-y: scroll;
    height: 100%;
}

#bemutatkozas img{
    width: 30vh;
    max-width: 20vw;
    float: left;
    margin-right: 0.5em;
    filter:drop-shadow(0 10px 5px black);
    margin-right: 15px;
    margin-bottom: 15px;
}

#elerhetosegek{
    display: inline-flex;
    gap: 1em;
}



/*--------------------------------------------------------------------------------------------------------------------*/

/* Projektek*/

#ProjektekWindow{
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
    background-image: url(../kepek/hatterize.png);
    background-size: 30vh;
    
}

#ProjektekWindowFelirat{
    position: absolute;
    z-index: 20;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    
    color: white;


    filter: drop-shadow(0 0 0.75rem rgb(30, 255, 0));
    
}

#ProjektekWindowFelirat a{
    text-decoration: none;
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    
}


#ProjektekWindowFelirat a:hover{
    color: white;
    
}



#ProjektekWindowFelirat a:hover::before {
    transform: scaleX(1);
}


#ProjektekWindowFelirat a::before {
    content: "";
    position: absolute;
    display: block;
    width: 170%;
    height: 3px;
    bottom: 1px;
    left: -5em;
    background-color: white;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}



#ProjektekWindowDiodak{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
    flex-wrap: nowrap;
    background: rgb(19,19,19);
    background: linear-gradient(180deg, rgba(19,19,19,0) 0%, rgba(0,0,0,1) 100%);
}

#ProjektekWindowDiodak div{
   transform: translateY(4vh);
}

#ProjektekWindowDiodak div:nth-child(1){
    animation: diodablink 2s linear infinite forwards;
}
#ProjektekWindowDiodak div:nth-child(2){
    animation: diodablink 2s linear infinite forwards;
    animation-delay: 0.1s;
}
#ProjektekWindowDiodak div:nth-child(3){
    animation: diodablink 2s linear infinite forwards;
    animation-delay: 0.2s;
}
#ProjektekWindowDiodak div:nth-child(4){
    animation: diodablink 2s linear infinite forwards;
    animation-delay: 0.3s;
}
#ProjektekWindowDiodak div:nth-child(5){
    animation: diodablink 2s linear infinite forwards;
    animation-delay: 0.4s;
}

#dioda{
    background-image: url(../kepek/dioda.png);
    height: 20vh;
    width: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes diodablink {
    0%{background-image: url(../kepek/diodabright.png);}
    40%{background-image: url(../kepek/dioda.png);}
}


/*--------------------------------------------------------------------------------------------------------------------*/



/*Galleria*/
#GalleryWindow{
    overflow:hidden;
    width: 100%;
    height: 100%;
    background-image: url(../kepek/cork-board-texture.jpg);
    background-size: 10vh;
    

}

#GalleryWindowBackgroundPics{
    width: 100%;
    height: 90%;
    background-image: url(../kepek/gallery.png);
    background-size: 50%;
    animation: marquee 15s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
    filter: drop-shadow(0 0 3px black);

    color: black;
    text-decoration: none;
    margin: auto;
    
    
}

#GalleryWindowBackgroundPics * h1{
    color: black;



    filter: drop-shadow(2px 2px 0 white);
    text-shadow: white 2px 2px 5px;
}


#GalleryWindowBackgroundPics > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

#GalleryWindowBackgroundPics div a{
    height: 20vh;
    width: 50vh;
}
#GalleryWindowPics{
    position: relative;
    

}

#GalleryWindowPics div{
    filter: drop-shadow(0 0 5px black);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    overflow: hidden;
}


#GalleryWindowPic1{
    background-image: url(../kepek/kep1.png);
    height: 15vh;
    width: 15vh;
    background-size: contain;

    position: absolute;
    left: 60%;
    transform: translateY(2.5vh);
    rotate: 10deg;

    
}

#GalleryWindowPic2{
    background-image: url(../kepek/kep3.png);
    height: 15vh;
    width: 15vh;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 35%;
    transform: translateY(2vh);
    color: black;


}
#GalleryWindowPic3{
    background-image: url(../kepek/kep2.png);
    height: 15vh;
    width: 15vh;
    background-size: contain;
    
    position: absolute;
    left: 10%;
    transform: translateY(2.5vh);
    rotate: -10deg;



}

#GalleryWindowPics:hover div{
    transform: translateY(1vh);
}



@keyframes marquee{
    0%   { background-position-y: 0%;
           background-position-x: 0%;}
    100% { background-position-y: -195%;
           background-position-x: 200%;}
}



/*--------------------------------------------------------------------------------------------------------------------*/




/*Dokumentumok*/ 

#DokumentumokWindow{
    width: 100%;
    height: 100%;
    background-image: url(../kepek/xpbackground.png);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    position: relative;
    cursor: url(../kepek/cursor.png), auto;
}

#DokumentumokWindow #gomb a{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

#DokumentumokWindow #gomb img{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

#DokumentumokWindow #gomb{
    z-index: 20;
}

#DokumentumokWindowDokuments{
    position: relative;
}

#DokumentumokWindowDokuments img{
    width: 10vh;
    height: min-content;
    position: absolute;
}

#doc1{animation: fallingdocs1 4s linear infinite;}
#doc2{animation: fallingdocs2 2.5s linear infinite;}
#doc3{animation: fallingdocs1 3s linear infinite;}
#doc4{animation: fallingdocs2 3.5s linear infinite;}


@keyframes fallingdocs1 {
    0%{top: -20vh;
        transform: rotateZ(0);}
    100%{top: 30vh;
         transform: rotateZ(350deg);}
}


@keyframes fallingdocs2 {
    0%{top: -20vh;
        transform: rotateZ(20deg);}
    100%{top: 30vh;
         transform: rotateZ(-300deg);}
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Munkanaplo*/


/*style="right: 4%; top: 50px;"
style="right: 11.5%; top: 10p
style="right: 19%; top: 90px;
style="right: 26.5%; top: 110
style="right: 34%; top: 130px*/

#MunkanaploWindow{
    position: relative;
    overflow:hidden;
    width: 100%;
    height: 100%;
    background: rgb(167,167,167);
    background: linear-gradient(0deg, rgba(167,167,167,1) 0%, rgba(255,255,255,1) 25%, rgba(156,201,154,1) 100%);
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    
}

.MunkanaploWindowKep{
    position: absolute;
    background-image: url(../kepek/tablazat.png);
    height: 35vh;
    width: 30vh;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 6vh;
    font-size: x-large;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;

    filter: drop-shadow(10px 10px 7px rgba(0, 0, 0, 0.297));
    overflow: hidden;


}

.MunkanaploWindowKep a{
    color: black;
}

#MunkanaploWindow div:nth-child(1){
    margin-left: 14vh;
    top: 25%;
    
}

#MunkanaploWindow div:nth-child(2){
    margin-left: 7vh;
}

#MunkanaploWindow div:nth-child(3){
    top: 35%;
}

#MunkanaploWindow div:nth-child(4){
    margin-right: 7vh;
    top: 45%;
}

#MunkanaploWindow div:nth-child(5){
    margin-right: 14vh;
    top: 55%;
}

#MunkanaploWindow:not(:hover) div:nth-child(5){
    animation: boing 5s infinite cubic-bezier(.86,-0.05,.46,.9);
    animation-fill-mode: both;
    animation-delay: 0.25s;
    animation-play-state: running;
}


#MunkanaploWindow:hover div:nth-child(5){
    animation-play-state: paused;
}


#MunkanaploWindow:not(:hover) div:nth-child(3){
    animation: boing 5s infinite cubic-bezier(.86,-0.05,.46,.9);
    animation-fill-mode: both;
    animation-play-state: running;
    animation-delay: 0.5s;
}

#MunkanaploWindow:hover div:nth-child(3){
    animation-play-state: paused;
}




#MunkanaploWindow:not(:hover) div:nth-child(1){
    animation: boing 5s infinite cubic-bezier(.86,-0.05,.46,.9);
    animation-fill-mode: both;
    animation-delay: 0.75s;
    animation-play-state: running;
}

#MunkanaploWindow:hover div:nth-child(1){
    animation-play-state: paused;
}


@keyframes boing {
    0%{transform: translateY(0px);}
    10%{transform: translateY(-10px);}
    20%{transform: translateY(0px);}
}


#MunkanaploWindow:hover div:nth-child(4){
    transform: translateY(-70px);
}



#MunkanaploWindow:hover div:nth-child(2){
    transform: translateY(60px);
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Header*/

header{
    z-index: 40;
    position: sticky;
    background-color: inherit;
    top: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: row-reverse;
    padding: 1em;
    width: 100%;
    height: 10vh;
    align-items: center;
    gap: 10vh;
    border-bottom: 1px black solid;
    overflow: hidden;
    background-color: gray;

    font-size: 1em;
    
    color: white;
}

.linkek a{
    text-decoration: none;
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    flex-grow: 1;
    
    
}

#magyar:hover ~ #anglish{
    transform: translate(10vw);
}


#anglish:hover{
    transform: translate(10vw);
}


#anglish{
    transform: translate(50vw);
    transition: transform 1s ease-in-out;
    transition-delay: 1s;
}



.linkek a img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    border: white solid 0.3em;
    filter: drop-shadow(0 0 5px black);;
    box-sizing: border-box;
}

.linkek{
    height: 100%;
}

.linkek a:hover{
    color: blue;

}

#cim{
    flex-grow: 2;
}

#cim a{
    text-decoration: none;
    color: white;
    
}



#cim a:hover span{
    animation: housejump 0.75s cubic-bezier(.31,-0.34,0,1) normal infinite;
    
}

@keyframes housejump{
    0%   { transform: translateY(0) scaleX(1.1);}
    70% {  transform: translateY(-10px) scaleX(0.9)}
    100%   { transform: translateY(0) scaleX(1.1);}
}


/*--------------------------------------------------------------------------------------------------------------------*/

/*Elrendezes*/

#alsoboxok{
    flex-grow: 1;
    gap: 2em;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}

#oldalsoboxok{
    max-width: 25%;
    flex-grow: 0.5 ;
    gap: 2em;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    
}

#kozepsoboxok{
    max-width: 72%;
    flex-grow: 2.5 ;
    gap: 2em;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    
}

main{
    justify-content: center;
    box-sizing: border-box; 
    padding: 1em;
    gap: 2em;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 90vh;
    /*background-image: url(kepek/hatter.jpg);
    background-size: cover;*/

    background: black;
    background: linear-gradient(0deg, rgb(59, 59, 59) 0%, rgb(65, 65, 65) 20%, rgba(193,182,167,1) 47%, rgba(186,186,186,1) 100%);
    flex-wrap: wrap-reverse ;
}

section div{
    box-sizing: border-box;
}



/*--------------------------------------------------------------------------------------------------------------------*/


/*essetials*/




.Nocursor{
    cursor: not-allowed;
}

.close{
    cursor: pointer;
}

.Closable  {
    visibility:visible
}

.Closable.closed  {
    visibility: hidden;
    display: none;
}

.material-symbols-outlined {
    align-self: center; /*közepre igazitja a jeleket ha a doboz flex*/
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.windowheaderstatic {
    display: flex;
    align-items: stretch;
    
    z-index: 10;
    background-color: gray;
    color: #fff;
    padding: 3px;

    font-size: 1em;

}

.windowheaderstatic a{
    color: #fff;
    text-decoration: none;
    align-self: center;
    margin: 0;
    padding: 0;
    height: 24px;

}

.WindowKocka
{
    background-color: white;
    padding: 0;
    border: lightgray 0.25em solid;
    overflow: hidden;
}


.Window2
{
    background-color: white;
    flex-grow: 1;
    padding: 0;
    border: lightgray 0.25em solid;
    overflow: hidden;
}
.xpbutton {
    cursor: url(../kepek/point.png),auto;
    scale: 160%;
    
    -webkit-font-smoothing: antialiased;
    font-size: 0.75vw;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%
    );
    box-shadow: none;
    border-radius: 3px;
    &:not(:disabled) {
        &:active,
        &.active {
            box-shadow: none;
            background: linear-gradient(
                180deg,
                rgba(205, 202, 195, 1) 0%,
                rgba(227, 227, 219, 1) 8%,
                rgba(229, 229, 222, 1) 94%,
                rgba(242, 242, 241, 1) 100%
            );
        }
        &:hover {
            box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
        }
    }
    &:focus,
    &.focused {
        box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4,
            inset 2px -2px #89ade4;
    }
    &::-moz-focus-inner {
        border: 0;
    }

    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;

}

.inline-icon {
    vertical-align: bottom;
    font-size: 1.3em !important;
 }



.fa {
    padding: 20px;
     font-size: 30px;
    width: 2vh;
    height: 2vh;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

